body {
	background-color: $color-background;
}

.card {
	border-radius: 12px;
	width: 100%;
	height: 100%;
	header {
		@include -xl() {
			padding: 0 5px;
		}
		padding: 0 20px;
		width: 100%;
		height: 60px;
		border-bottom: 1px solid $color-light-gray;
		h2 {
			@include font(10px, 1px);
			text-transform: uppercase;
			font-weight: 400;
		}
		.date-tag {
			@include font(10px,1px);
			display: block;
			text-transform: uppercase;
			font-weight: 400;
			color: $color-gray;
			margin-bottom: 3px;
			text-align: left;
		}
	}
	.event-content {
		@include -xl() {
			padding: 10px;
		}
		padding: 20px;
	}
	&.shadow {
		background-color: white;
		@include box-shadow();
	}
}

.icon-box {
	@include transition();
	cursor: pointer;
	height: 50px;
	width: 50px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid $color-light-gray;
	img,
	.material-icons {
		user-select: none;
		@include transition();
		height: 30px;
		width: 30px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.material-icons {
		font-size: 30px;
	}
}

.info-hover {
	cursor: pointer;
	position: relative;
	width: fit-content;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.aside-timeline,
.section-main,
.aside-attributes {
	&.hide {
		display: none !important;
	}
}
