@mixin transition($time: $delay) {
	transition: all $time;
}

@mixin font($size: 12px, $letter-spacing: 0) {
	font-family: $font-family;
	font-size: $size;
	letter-spacing: $letter-spacing;
}

@mixin box-shadow($intensity: 0.5) {
	box-shadow: 0 0 15px 0px rgba(150, 150, 150, $intensity);
}

@mixin personal-bg() {
	background-color: $color-personal;
}

@mixin personal() {
	color: $color-personal;
}

@mixin educational-bg() {
	background-color: $color-educational;
}

@mixin educational() {
	color: $color-educational;
}

@mixin professional-bg() {
	background-color: $color-professional;
}

@mixin professional() {
	color: $color-professional;
}
