$s: 640px; //s
$m: 800px; //m
$l: 1023px; //l
$xl: 1200px; //xl

@mixin -s() {
	@media only screen and (max-width: $s) {
		@content;
	}
}

@mixin s-() {
	@media only screen and (min-width: $s) {
		@content;
	}
}

@mixin -m() {
	@media only screen and (max-width: $m) {
		@content;
	}
}

@mixin m-() {
	@media only screen and (min-width: $m) {
		@content;
	}
}

@mixin -l() {
	@media only screen and (max-width: $l) {
		@content;
	}
}

@mixin l-() {
	@media only screen and (min-width: $l) {
		@content;
	}
}

@mixin -xl() {
	@media only screen and (max-width: $xl) {
		@content;
	}
}

@mixin xl-() {
	@media only screen and (min-width: $xl) {
		@content;
	}
}
