$color-personal: #ffcc99;
$color-professional: #cc99ff;
$color-educational: #99ccff;
$color-background: #f8f8f8;
$color-light-gray: #e9e9e9;
$color-gray: #a0a0a0;
$color-dark-gray: #363636;

$color-primary: #2c3e50;
$color-secondary: #bdc3c7;

$spacing: 20px;

$delay: 0.5s;

// $font-family: 'Fredericka the Great', cursive;
$font-family: 'Lato', sans-serif;
