#body-header {
	@include -xl() {
		height: 60px;
		padding: 0 10px;
	}
	@include -s() {
		height: 50px;
	}
	font-size: 0;
	height: 80px;
	position: relative;
	padding: 0 20px;
	background-image: linear-gradient(to right, $color-secondary, $color-primary);
	.info-header {
		@include -l() {
			text-align: center;
		}
		position: relative;
		font-size: 0;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 100%;
		text-align: left;
		.content {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			h1 {
				@include -xl() {
					font-size: 14px;
					letter-spacing: 8px;
				}
				@include -s() {
					display: block;
					font-size: 10px;
					letter-spacing: 4px;
					width: 100%;
					text-align: center;
				}
				display: inline-block;
				text-align: left;
				width: 50%;
				@include font(16px, 10px);
				text-transform: uppercase;
				font-weight: 300;
				padding: 0 24px;
				color: white;
				.dark {
					@include -xl() {
						font-size: 14px;
						letter-spacing: 8px;
					}
					@include -s() {
						font-size: 10px;
						letter-spacing: 4px;
					}
					@include font(16px, 10px);
					font-weight: 300;
					color: $color-primary;
				}
			}
			h2 {
				@include -l() {
					width: 50%;
				}
				@include -s() {
					margin-top: 3px;
					font-size: 10px;
					letter-spacing: 2px;
					display: block;
					width: 100%;
					text-align: center;
				}
				@include font(12px, 6px);
				display: inline-block;
				text-align: right;
				width: 40%;
				text-transform: uppercase;
				font-weight: 300;
				padding: 0 24px;
				color: white;
				.dark {
					color: $color-secondary;
				}
			}
			.langs {
				@include -l() {
					display: none;
				}
				vertical-align: top;
				display: inline-block;
				width: 10%;
				text-align: right;
				position: relative;
				img {
					@include transition();
					display: inline-block;
					margin-right: 12px;
					width: 15px;
					height: 15px;
					cursor: pointer;
					opacity: .25;
					&.lang-selected {
						opacity: .75;
						transform: scale(1.25);
					}
					&:hover:not(.lang-selected) {
						opacity: .5;
						transform: scale(1.25);
					}
				}
				.lang-tooltip {
					@include transition();
					@include box-shadow();
					display: none;
					border-radius: 8px;
					z-index: 3;
					position: absolute;
					right: 0;
					top: 28px;
					background-color: white;
					height: fit-content;
					width: fit-content;
					padding: 6px;
					p {
						@include font();
						font-weight: 300;
						color: $color-dark-gray;
					}
					&.show {
						display: block;
					}
					&::before {
						content: '';
						position: absolute;
						top: -3px;
						right: 14px;
						background-color: white;
						width: 10px;
						height: 10px;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	.settings-header {
		height: 100%;
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 30%;
		text-align: right;
		.content {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			.icon-box {
				@include transition();
				display: inline-block;
				margin: 0 12px;
				&:hover {
					@include transition();
					@include box-shadow();
					transform: scale(1.1);
					background-color: white;
					img {
						@include transition();
						filter: grayscale(0%);
						opacity: 1;
					}
				}
				&.active {
					@include transition();
					@include box-shadow();
					background-color: white;
					transform: scale(1.1);
					img {
						@include transition();
						filter: grayscale(0%);
						opacity: 1;
					}
				}
				img {
					@include transition();
					opacity: .5;
					filter: grayscale(100%);
				}
			}
		}
	}
}
#body-main {
	@include -xl() {
		padding: 10px;
		height: calc(100vh - 60px - 50px);
	}
	@include -s() {
		height: calc(100vh - 50px - 50px);
	}
	padding: 20px;
	position: relative;
	font-size: 0;
	height: calc(100vh - 80px - 50px);
	.content {
		height: 100%;
		width: 100%;
		.screen-error {
			display: none;
			@include l- {
				height: 100%;
				text-align: center;
				&.show {
					display: block;
				}
				.error-state-container {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					img {
						width: 30%;
						margin-bottom: 16px;
					}
					p {
						@include font(10px);
						padding: 0 6px;
						line-height: 16px;
						color: $color-gray;
						&.dark {
							color: $color-dark-gray;
						}
					}
				}
			}
		}
		.screen-empty-state {
			@include l-() {
				display: none;
			}
			@include -l() {
				height: 100%;
				text-align: center;
				.empty-state-container {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					@include l-() {
						display: none;
					}
					@include -l() {
						img {
							width: 70%;
							margin-bottom: 16px;
						}
						p {
							@include font(10px);
							padding: 0 6px;
							line-height: 16px;
							color: $color-gray;
							&.dark {
								color: $color-dark-gray;
							}
						}
					}
				}
			}
		}
		.aside-timeline {
			@include -l() {
				display: none;
			}
			@include -xl() {
				padding: 10px;
			}
			padding: 20px;
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 20%;
			height: 100%;
			.content {
				width: 100%;
				.card {
					header {
						height: 40px;
						text-align: center;
						position: relative;
						background-image: linear-gradient(to right, $color-secondary, $color-primary);
						border-bottom: none;
						border-radius: 100px;
						h2 {
							display: inline-block;
							color: white;
							line-height: 16px;
							margin-right: 6px;
						}
						.material-icons {
							position: relative;
							vertical-align: top;
							display: inline-block;
							font-size: 16px;
							color: $color-secondary;
						}
						.timeline-tooltip {
							@include transition();
							@include box-shadow();
							border-radius: 12px;
							opacity: 0;
							padding: 20px;
							z-index: 3;
							position: absolute;
							top: 35px;
							left: 50%;
							transform: translateX(-50%);
							width: fit-content;
							max-width: 90%;
							height: fit-content;
							background-color: white;
							ul {
								text-align: left;
								li {
									margin-top: 6px;
									@include font();
									font-weight: 300;
									color: $color-dark-gray;
									&.info-title {
										margin-bottom: 12px;
									}
									&.personal::before {
										@include personal-bg();
									}
									&.educational::before {
										@include educational-bg();
									}
									&.professional::before {
										@include professional-bg();
									}
									&:not(.info-title)::before {
										content: '';
										display: inline-block;
										margin-right: 10px;
										width: 6px;
										height: 6px;
										border-radius: 50%;
										vertical-align: top;
										position: relative;
										top: 3px;
									}
								}
							}
							&.hide {
								display: none;
							}
							&.show {
								animation-name: tooltipDelay;
								animation-delay: .25s;
								animation-duration: .25s;
								animation-fill-mode: forwards;
							}
							&:not(.hide)::before {
								content: '';
								position: absolute;
								top: -3px;
								right: calc(50% - 10px);
								background-color: white;
								width: 20px;
								height: 20px;
								transform: rotate(45deg);
							}
						}
					}
				}
				.content {
					position: relative;
					height: calc(100% - 40px);
					.info-icon {
						position: absolute;
						top: 0;
						right: 0;
						font-size: 20px;
						color: $color-gray;
					}
					.line {
						@include -xl() {
							top: 20px;
							height: calc(100% - 20px);
						}
						position: absolute;
						top: 40px;
						left: 40%;
						transform: translateX(-50%);
						width: 1px;
						height: calc(100% - 40px);
						background-color: $color-light-gray;
					}
					.events {
						@include -xl() {
							top: 20px;
							height: calc(100% - 20px);
						}
						position: absolute;
						top: 40px;
						width: 100%;
						height: calc(100% - 40px);
						.event {
							height: calc(100%/24);
							font-size: 0;
							@include transition();
							.event-date,
							.event-title,
							.event-circle {
								display: inline-block;
								vertical-align: top;
							}
							.event-date,
							.event-title {
								@include -xl() {
									font-size: 8px;
								}
								@include font(10px);
								font-weight: 300;
								position: relative;
								top: 50%;
								transform: translateY(-50%);
								opacity: 0;
							}
							.event-date {
								width: 35%;
								text-align: right;
							}
							.event-title {
								width: 55%;
								text-align: left;
							}
							.event-circle {
								height: 100%;
								width: 10%;
								text-align: center;
								.circle {
									position: relative;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									width: 3px;
									height: 3px;
									border-radius: 50%;
									background-color: $color-gray;
								}
							}
							&.personal,
							&.educational,
							&.professional {
								&:not(.next):not(.current) {
									cursor: pointer;
									.event-date,
									.event-title {
										@include transition();
										opacity: 1;
										color: $color-gray;
									}
								}
								.event-circle {
									.circle {
										cursor: pointer;
										@include transition();
										width: 6px;
										height: 6px;
									}
								}
							}
							&.personal {
								&.current:not(.next) {
									.event-date,
									.event-title {
										@include personal();
										font-weight: 700;
									}
								}
								.event-circle {
									.circle {
										@include personal-bg();
										border: 1px solid $color-personal;
									}
								}
							}
							&.educational {
								&.current:not(.next) {
									.event-date,
									.event-title {
										@include educational();
										font-weight: 700;
									}
								}
								.event-circle {
									.circle {
										@include educational-bg();
										border: 1px solid $color-educational;
									}
								}
							}
							&.professional {
								&.current:not(.next) {
									.event-date,
									.event-title {
										@include professional();
										font-weight: 700;
									}
								}
								.event-circle {
									.circle {
										@include professional-bg();
										border: 1px solid $color-professional;
									}
								}
							}
							&.next {
								.event-circle {
									.circle {
										@include transition();
										width: 8px;
										height: 8px;
										animation-name: nextEvent;
										animation-duration: 1s;
										animation-iteration-count: infinite;
									}
								}
							}
							&.hovered:not(.next) {
								border-radius: 100px;
								background-color: $color-background;
								@include box-shadow(.25);
							}
							&.current {
								@include box-shadow();
								background-color: white;
								border-radius: 100px;
								.event-date,
								.event-title {
									@include transition();
									opacity: 1;
								}
								.event-circle {
									.circle {
										@include transition();
										width: 6px;
										height: 6px;
									}
								}
							}
						}
					}
				}
			}
		}
		.section-main {
			@include -l() {
				display: none;
			}
			@include -xl() {
				padding: 10px;
			}
			padding: 20px;
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 40%;
			height: 100%;
			.content {
				font-size: 0;
				width: 100%;
				.card {
					.main-section-header {
						height: 40px;
						text-align: center;
						position: relative;
						background-image: linear-gradient(to right, $color-secondary, $color-primary);
						border-bottom: none;
						border-radius: 100px;
						h2 {
							display: inline-block;
							color: white;
							line-height: 16px;
							margin-right: 6px;
						}
						.material-icons {
							position: relative;
							vertical-align: top;
							display: inline-block;
							font-size: 16px;
							color: $color-secondary;
						}
						.event-tooltip {
							@include transition();
							@include box-shadow();
							border-radius: 12px;
							opacity: 0;
							padding: 20px;
							z-index: 3;
							position: absolute;
							top: 35px;
							left: 50%;
							transform: translateX(-50%);
							width: fit-content;
							max-width: 90%;
							height: fit-content;
							background-color: white;
							ul {
								text-align: left;
								li {
									margin-top: 6px;
									@include font();
									font-weight: 300;
									color: $color-dark-gray;
									&.info-title {
										margin-bottom: 12px;
									}
									&.personal::before {
										@include personal-bg();
									}
									&.educational::before {
										@include educational-bg();
									}
									&.professional::before {
										@include professional-bg();
									}
									&:not(.info-title)::before {
										content: '';
										display: inline-block;
										margin-right: 10px;
										width: 6px;
										height: 6px;
										border-radius: 50%;
										vertical-align: top;
										position: relative;
										top: 3px;
									}
								}
							}
							&.hide {
								display: none;
							}
							&.show {
								animation-name: tooltipDelay;
								animation-delay: .25s;
								animation-duration: .25s;
								animation-fill-mode: forwards;
							}
							&:not(.hide)::before {
								content: '';
								position: absolute;
								top: -3px;
								right: calc(50% - 10px);
								background-color: white;
								width: 20px;
								height: 20px;
								transform: rotate(45deg);
							}
						}
					}
					.content {
						height: calc(100% - 40px);
						.card-main {
							@include transition();
							@include -xl() {
								width: 70%;
							}
							vertical-align: top;
							display: inline-block;
							width: 80%;
							height: auto;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
							opacity: 1;
							&.changing {
								opacity: 0;
							}
							header {
								@include transition();
								@include -xl() {
									padding: 0 10px;
									height: 50px;
								}
								position: relative;
								h2,
								.icon-box {
									display: inline-block;
								}
								h2 {
									@include -xl() {
										font-size: 12px;
										margin-top: 12px;
									}
									color: $color-dark-gray;
									font-size: 14px;
									text-transform: none;
									letter-spacing: 0;
									margin-top: 18px;
								}
								.icon-box {
									cursor: default;
									vertical-align: top;
									position: absolute;
									right: 0;
									top: 50%;
									transform: translateY(-50%);
									margin-right: 12px;
									width: 30px;
									height: 30px;
									.material-icons {
										font-size: 15px;
										width: 15px;
										height: 15px;
									}
								}
								&.personal {
									border-color: $color-personal;
									.icon-box {
										border: 1px solid $color-personal;
										.material-icons {
											@include personal();
										}
									}
								}
								&.professional {
									border-color: $color-professional;
									.icon-box {
										border: 1px solid $color-professional;
										.material-icons {
											@include professional();
										}
									}
								}
								&.educational {
									border-color: $color-educational;
									.icon-box {
										border: 1px solid $color-educational;
										.material-icons {
											@include educational();
										}
									}
								}
							}
							.event-content {
								@include transition();
								.sub-content {
									@include -xl() {
										margin-bottom: 6px;
									}
									margin-bottom: 12px;
									h3 {
										@include font(10px,1px);
										text-transform: uppercase;
										font-weight: 300;
										color: $color-gray;
										margin-bottom: 3px;
										text-align: left;
									}
									p {
										@include -xl() {
											font-size: 12px;
										}
										@include font();
										font-weight: 300;
										color: $color-dark-gray;
										&.resume {
											margin-top: 12px;
											color: $color-primary;
											font-style: italic;
											&::after {
												content: '"';
											}
											&::before {
												content: '"';
											}
										}
									}
								}
							}
						}
						.icons-controller {
							@include -xl() {
								width: 15%;
							}
							vertical-align: top;
							display: inline-block;
							text-align: center;
							width: 10%;
							height: 50%;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
							.icon-box {
								@include transition();
								position: relative;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								border: 1px solid $color-light-gray;
								height: 30px;
								width: 30px;
								&.disabled {
									cursor: default;
									.material-icons {
										@include transition();
										color: $color-light-gray;
									}
								}
								.material-icons {
									color: $color-dark-gray;
									height: 15px;
									width: 15px;
									font-size: 15px;
								}
								&:not(.disabled):hover {
									@include box-shadow();
									background-color: white;
									.material-icons {
										@include transition();
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}
		}
		.aside-attributes {
			@include -l() {
				display: none;
			}
			@include -xl() {
				padding: 10px;
			}
			padding: 20px;
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 40%;
			height: 100%;
			.content {
				width: 100%;
				height: 100%;
				.card {
					header {
						height: 40px;
						text-align: center;
						position: relative;
						background-image: linear-gradient(to right, $color-secondary, $color-primary);
						border-bottom: none;
						border-radius: 100px;
						h2,
						.icons {
							display: inline-block;
						}
						h2 {
							color: white;
							line-height: 16px;
							margin-right: 6px;
						}
						.material-icons {
							position: relative;
							vertical-align: top;
							display: inline-block;
							font-size: 16px;
							color: $color-secondary;
						}
						.attributes-tooltip {
							@include transition();
							@include box-shadow();
							border-radius: 12px;
							opacity: 0;
							padding: 20px;
							z-index: 3;
							position: absolute;
							top: 35px;
							left: 50%;
							transform: translateX(-50%);
							width: fit-content;
							max-width: 90%;
							height: fit-content;
							background-color: white;
							ul {
								text-align: left;
								li {
									margin-top: 6px;
									@include font();
									font-weight: 300;
									color: $color-dark-gray;
									&.info-title {
										margin-bottom: 12px;
									}
									.material-icons {
										display: inline-block;
										margin-right: 12px;
										position: relative;
										top: 6px;
										transform: translateY(-50%);
										&.personal {
											@include personal();
										}
										&.educational {
											@include educational();
										}
										&.professional {
											@include professional();
										}
									}
								}
							}
							&.hide {
								display: none;
							}
							&.show {
								animation-name: tooltipDelay;
								animation-delay: .25s;
								animation-duration: .25s;
								animation-fill-mode: forwards;
							}
							&:not(.hide)::before {
								content: '';
								position: absolute;
								top: -3px;
								right: calc(50% - 10px);
								background-color: white;
								width: 20px;
								height: 20px;
								transform: rotate(45deg);
							}
						}
						.icons {
							position: absolute;
							vertical-align: top;
							top: 50%;
							right: 0;
							transform: translateY(-50%);
							.icon-box {
								@include transition();
								@include -xl() {
									margin-right: 5px;
								}
								border: none;
								margin-right: 10px;
								display: inline-block;
								width: 30px;
								height: 30px;
								&.disabled {
									cursor: default;
									.material-icons {
										color: #697e91;
									}
								}
								&:not(.disabled):not(.hide):hover {
									background-color: #697e91;
								}
								.material-icons {
									font-size: 15px;
									width: 15px;
									height: 15px;
									color: white;
									&.personal {
										@include personal();
									}
									&.educational {
										@include educational();
									}
									&.professional {
										@include professional();
									}
								}
								&.hide {
									cursor: default;
									opacity: 0;
									.material-icons {
										cursor: default;
									}
								}
								&.filtering {
									background-color: #697e91;
								}
								&.show {
									opacity: 1;
								}
							}
						}
					}
					.attributes-list {
						@include transition();
						@include -xl() {
							padding: 10px;
						}
						padding: 20px;
						display: flex;
						flex-wrap: wrap;
						.attribute {
							cursor: default;
							@include transition();
							width: fit-content;
							margin-bottom: 6px;
							margin-right: 6px;
							padding: 6px 12px;
							border-radius: 100px;
							border: 1px solid $color-light-gray;
							&:not(.active) {
								@include transition();
								color: $color-gray;
								opacity: .75;
							}
							&.active {
								@include transition();
								@include box-shadow();
								color: $color-dark-gray;
								background-color: white;
							}
							.attribute-text {
								user-select: none;
								@include -xl() {
									font-size: 10px;
								}
								@include font();
								font-weight: 300;
								&.personal::before {
									@include personal-bg();
								}
								&.educational::before {
									@include educational-bg();
								}
								&.professional::before {
									@include professional-bg();
								}
								&::before {
									@include -xl() {
										top: 5px;
									}
									content: '';
									display: inline-block;
									margin-right: 6px;
									width: 5px;
									height: 5px;
									border-radius: 50%;
									vertical-align: top;
									position: relative;
									top: 6px;
									transform: translateY(-50%);
								}
							}
						}
					}
				}
			}
		}
	}
}
#body-footer {
	padding: 0 20px;
	height: 50px;
	border-top: 1px solid $color-primary;
	.content {
		@include -l() {
			text-align: center;
		}
		text-align: right;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		p {
			@include -xl() {
				font-size: 10px;
			}
			@include -l() {
				display: none;
			}
			display: inline-block;
			vertical-align: top;
			line-height: 23px;
			@include font();
			color: $color-gray;
			margin-right: 12px;
			.dark {
				color: $color-dark-gray;
			}
		}
		img {
			margin-right: 6px;
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}
}

@keyframes nextEvent {
	50% {
		background-color: $color-background;
	}
}

@keyframes tooltipDelay {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
